.heading-m,
.heading-s,
.paragraph,
.learn-more-link,
.project-paragraph,
.footer-bottom-list-container {
  letter-spacing: 0.05em;
}

.heading-l,
a {
  letter-spacing: 0.04em;
}

.heading-l {
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 32px;
  max-width: 425px;
}

header {
  min-height: 768px;
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}

.header-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-top {
  margin-bottom: 115px;
}

.header-bottom {
  flex-grow: 1;
  background-image: url(../img/index/illustration.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.header-paragraph {
  max-width: 510px;
}

.header-button {
  margin-top: 71px;
  margin-bottom: 140px;
  padding: 15px 50px;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}

.main-container {
  margin: 64px auto 112px auto;
}

.main-heading {
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  color: #000000;
}

.main-top {
  margin: 64px 0;
}

main .heading-s {
  margin: 50px 0 14px 0;
}

.main-infocard {
  max-width: 359px;
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 44px 32px;
  display: flex;
  flex-direction: column;
}

.main-infocard-img {
  height: 100px;
  align-self: center;
}

.learn-more-link {
  margin-top: 28px;
  font-size: 14px;
  line-height: 30px;
  color: #5a98d0;
  text-decoration: none;
}

.main-bottom-paragraph {
  margin: 32px auto 64px auto;
  color: #222222;
  opacity: initial;
  text-align: center;
  width: 75%;
}

.main-bottom-img {
  width: 100%;
}

.project {
  position: relative;
  border-radius: 10px;
  box-sizing: content-box;
}

.project-paragraph {
  position: absolute;
  line-height: 46px;
  color: #ffffff;
}

.project1 {
  margin-bottom: 32px;
}

.project1-paragraph {
  font-size: 32px;
  top: 64px;
  right: 64px;
}

.project2 {
  margin-right: 32px;
}

.project2-paragraph,
.project3-paragraph {
  font-size: 28px;
  top: 64px;
  left: 64px;
}

.apps-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .header-bottom {
    background-size: 44%;
    background-position: right 220px;
  }

  .header-paragraph {
    max-width: 425px;
  }

  .main-infocard {
    margin-bottom: 32px;
  }

  .main-bottom {
    margin-left: 32px;
    margin-right: 32px;
  }

  .project2-paragraph,
  .project3-paragraph {
    top: 20px;
    left: 20px;
  }
}

@media (max-width: 667px) {
  .heading-l {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 12px;
  }

  header {
    min-height: 376px;
  }

  .header-container {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }

  .header-top {
    margin-bottom: 33px;
  }

  .header-bottom {
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-button {
    margin-top: 32px;
    margin-bottom: 41px;
    font-size: 12px;
    padding: 0 10px;
  }

  .main-container {
    margin-top: 48px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .main-heading {
    line-height: 28px;
  }

  .main-top {
    margin-top: 32px;
  }

  .main-bottom {
    margin-left: 0;
    margin-right: 0;
  }

  .main-bottom-paragraph {
    margin-bottom: 82px;
  }

  .apps-container {
    flex-direction: column;
  }

  .project {
    margin-bottom: 16px;
  }

  .project2 {
    margin-right: initial;
  }

  .project-paragraph {
    font-size: 16px;
    line-height: 19px;
  }

  .project1-paragraph {
    top: 16px;
    right: 16px;
  }

  .project2-paragraph,
  .project3-paragraph {
    top: 26px;
    left: 16px;
  }
}
